* {
  padding: 0px;
  margin: 0px;
}

.header {
  text-align: center;
  background: #1bbb9a;
  padding: 40px;
  margin: auto;
}

h1 {
  font-family: sans-serif;
  margin: auto;
  text-align: center;
  font-size: 50px;
  max-width: 600px;
  position: relative;
  text-transform: uppercase;
}
h1::before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #fff;
  position: absolute;
  right: 0;
  top: 50%;
}
.header h2 {
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-size: 60px;
  font-family: sans-serif;
}

.header p {
  margin: 0;
  text-align: center;
}

.header button {
  border-radius: 25px;
  background-color: tomato;
  padding: 10px 30px 10px 30px;
  color: white;
  border-style: none;
  margin: 35px;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  background-color: #424345;
}

.quick-links {
  display: flex;
  width: 560px;
  height: 70px;
  margin: auto;
}

.quick-links ul {
  display: flex;
}

.quick-items {
  list-style: none;
}
.quick-items a {
  text-decoration: none;
  padding: 0px 15px;
  font-size: 18px;
  color: white;
  transition: all 0.25s;
}

.quick-items a:hover {
  color: #1bbb9a;
}

.outter-footer {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 15px;
  /* margin: auto; */
}

.grid1 {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  padding: 20px;
}

.grid1 h1 {
  font-size: 20px;
  text-transform: none;
  font-weight: lighter;
}
.grid1 h1 span {
  font-size: 20px;
  font-weight: bold;
}

.grid1 p {
  color: gray;
}

.items1 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  padding: 5% 20%;
}
.items1 i {
  color: #696969;
  font-size: 35px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
.one {
  display: flex;
}
.two {
  display: flex;
}
.three {
  display: flex;
}
.four {
  display: flex;
}

.grid2 {
  background-color: #e7663c;
  text-align: center;
  padding: 30px 60px;
}

.items2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  padding: 5% 20%;
}

.items2 i {
  color: white;
  font-size: 35px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
.first {
  display: flex;
}

.second {
  display: flex;
}

.third {
  display: flex;
}

.fourth {
  display: flex;
}

.items3 {
  display: flex;
  justify-content: center;
  padding: 2% 5%;
}
.grid3 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
}
.items3 i {
  padding-top: 20px;
  padding-right: 20px;

  font-size: 35px;
  color: #424345;
}

.grid4 {
  padding: 20px 30px;
}
